.container-fluid.contactbody{
    padding: 100px;
}
.the-top{
    width: 80%;
    margin: auto;
    padding-bottom: 100px;
    background-color: rgba(102, 102, 153,.8);
    padding: 20px;
    text-align: center;
    font-family: "Exo", sans-serif;
    border-radius: 10px;
}
.col-sm-5.contact-form{
    /*padding:24px;*/
}
.contactinput{
    width:450px;
    height: 50px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;

}
.btn.btn-primary.comment{

    width: 200px;
}
.commentoutput{


}
.row.commentsheader{

    margin: auto;
    padding: 15px;
    background-color: #f0f0f5;
    font-family: "Exo", sans-serif;
    border-radius: 20px;
    width: 80%;
    box-shadow: 2px 0px 10px .5px black ;
    /*text-align: center;*/
    margin-top: 15px ;
    line-height: 2.5rem;

}

.far.fa-envelope{
    font-size: 40px;
    margin: auto;

}
.row.comment-form{
    padding-bottom: 50px;
}
.container-fluid.outcontainer{

    width: 70%;
    border-radius: 10px;
}
.comment-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
